<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Eve</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        table {
            width: 100%;
            max-width: 600px;
            margin: 20px auto;
            background-color: #ffffff;
            border-collapse: collapse;
            border-radius: 8px;
            overflow: hidden;
        }

        th {
            background-color: #1DA1F2;
            color: #ffffff;
            font-size: 24px;
            text-align: center;
            padding: 20px;
        }

        td {
            padding: 20px;
            text-align: center;
        }

        p {
            font-size: 16px;
            color: #333333;
            line-height: 1.5;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        .cta-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #1DA1F2;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 18px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Welcome to Eve Shcool Management System, <%=Name%>!</th>
        </tr>
        <tr>
            <td>
                <p>
                    Hi <%=Name%>,
                </p>
            
                <p>
                    <img src="https://usagif.com/wp-content/uploads/2021/4fh5wi/welcome-16.gif" alt="Welcome Animation">
                </p>
                <p>
                    Thank you for joining Eve School Management System! 🎉<br>
                    We're thrilled to have you as part of our community. Your journey on Talked is about to begin, and we can't wait to see what you'll share with the world.
                </p>
                <p>
                    <strong>Here are a few things to get started:</strong><br>
                    - Complete your profile to let others know more about you.<br>
                    - Connect with friends and start engaging in conversations.<br>
                    - Share your thoughts, photos, and updates with the Talky community.
                </p>
                <p>
                    <strong>Remember:</strong> Your privacy is essential. Please keep your password secure and don't share it with anyone.
                </p>
                <p>
                    Welcome aboard! Sign in now to explore the greatness of Talked.
                </p>
                <a href="http://localhost:5173/" class="cta-button">Sign In to the system</a>
                <p>
                    Thank you,
                </p>
            </td>
        </tr>
    </table>
</body>
</html>